
# Environment files
.env
.env.local
.env.production
.env.testing
.env.development      


# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# Build outputs
dist/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

# Data
data/users.json